include ../Header/template.pug
section.Anuncios.row.center-lg
  include ../AnuncioNuevo/template.pug
  include ../Anuncio/template.pug
  include ../Anuncio/template.pug
  include ../Anuncio/template.pug
