header
  .Header-Info.row.between-xs
    .Header-User.col-xs-3 
      .User.row
        .col-xs-3
          img(src="images/50x50.png",class="circle")
        .col-xs
          p Felipe Rubio
          p Jumbo La Florida
        
    .Header-Logo.col-xs-3
      .Logo.row.end-xs
        img(src="images/150x50.png")
  .Header-Nav
    .Nav-Items.row.around-xs
      a.Nav-Item.is-active(href="index.html") Anuncios
      a.Nav-Item Turnos
      a.Nav-Item(href="grupo.html") Grupo
      a.Nav-Item Admin
