header
  .Header-Info.row.between-xs
    .Header-User.col-xs-3
      .User.row
        .col-lg-3
          img(src="images/50x50.png",class="circle")
        .col-lg
          a(class="User-name dropdown-button",data-activates="User-dropdown") Felipe Rubio
            i(class="material-icons User-Icon") arrow_drop_down
          p Jumbo La Florida
          ul#User-dropdown.dropdown-content
            li
              a Editar Perfil
            li
              a Cerrar Sesión

    .Header-Logo.col-lg-3
      .Logo.row.end-lg
        img(src="images/150x50.png")
  .Header-Nav
    .Nav-Items.row.star-lg
      .col-lg-2
        a.Nav-Item.is-active(href="index.html") Anuncios
      .col-lg-2
        a.Nav-Item Turnos
      .col-lg-2
        a.Nav-Item(href="grupo.html") Grupo
      .col-lg-2
        a.Nav-Item Empleados
      .col-lg-2
        a.Nav-Item Admin
