section.background
  .Login.row.center-xs.middle-xs
    .Login-Card.col-lg-6.card-panel.grey.lighten-4
      .Login-Logo
        img.circle.responsive-img(src="images/login.jpeg")
      form.row.center-xs(action="", method="post")
        .col-xs-11.input-field
          input.validate(type='email')
          label(for='Singup-Email') Nombre
        .Login-Pass.col-xs-12
          input(type="password")
        .Login-Remember.col-xs-6
          input(type="checkbox")
        .Login-Forgot.col-xs-6
          a.btn-flat(href="#")
        .Login-Button.col-xs-12
          a.btn Ingresar      
