section.content
  .Login.row.center-xs
    .Login-Logo.col-xs-12
      img.circle.responsive-img(src="images/login.jpeg")
    .Login-Card.col-lg-6.card-panel.grey.lighten-4
      form.row(action="", method="post")
        .Login-Email.col-xs-12
          input(type="email")
        .Login-Pass.col-xs-12
          input(type="password")
        .Login-Remember.col-xs-6
          input(type="checkbox")
        .Login-Forgot.col-xs-6
          a.btn-flat(href="#")
        .Login-Button.col-xs-12
          a.btn Ingresar
            
